@using MyApp.Application.Models.Requests.Customers.Individuals
@model IndividualCreateReq

@{
    ViewData["Title"] = "Add Individual";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h1>Add Individual Customer</h1>
    @Html.ValidationSummary()
    <form asp-action="Add" asp-controller="Individual" method="post" enctype="application/x-www-form-urlencoded">

        <div class="register-div">

            @await Html.PartialAsync("Customers/_IndividualInfo", Model)

            @await Html.PartialAsync("Customers/_GlobalInfo", Model)
            <hr/>
            @await Html.PartialAsync("Customers/Create/_CreateBillingDetailsFrom", Model)
            <hr/>
            @await Html.PartialAsync("Customers/Create/_CreateShippingDetailsFrom", Model)

            <div class="form-group">
                <div class="col-sm-12 btn-submit">
                    <button type="submit" class="btn btn-success">Add Customer</button>
                </div>
            </div>
        </div>
    </form>
</div>