@model string

<hr/>

<div class="form-row">
    <div class="col-6 col-md-6">
        <div class="form-group col">
            <a href="@Url.Action("Index", Model)" class="btn btn-outline-secondary">
                <i class="fas fa-step-backward"></i> Cancel
            </a>
        </div>
    </div>
    <div class="col-6 col-md-6">
        <div class="form-group col">
            <div class="col-sm-12 btn-submit">
                <button type="submit" class="btn btn-success">
                    <i class="fas fa-save"></i> Save
                </button>
            </div>
        </div>
    </div>
</div>