@using MyApp.Application.Models.Requests.Customers.Companies
@model CompanyCreateReq

@{
    ViewData["Title"] = "Add Company";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h1>Add Company</h1>
    @Html.ValidationSummary()
    <form asp-action="Add" asp-controller="Company" method="post" enctype="application/x-www-form-urlencoded">

        <div class="register-div">

            @await Html.PartialAsync("Customers/_CompanyInfo", Model)
            
            @await Html.PartialAsync("Customers/_GlobalInfo", Model)

            @await Html.PartialAsync("Customers/Create/_BillingDetails", Model)

            @await Html.PartialAsync("Customers/Create/_ShippingDetails", Model)


            <div class="form-group">
                <div class="col-sm-12 btn-submit">
                    <button type="submit" class="btn btn-success">Add Company</button>
                </div>
            </div>
        </div>
    </form>
</div>