@using MyApp.Application.Models.Requests.Customers.Companies
@model CompanyEditReq

@{
    ViewData["Title"] = "Edit Company";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h1>Edit Company</h1>
    @Html.ValidationSummary()
    <form asp-action="Edit" asp-controller="Company" method="post" enctype="application/x-www-form-urlencoded">

        <div class="update-customer-div">

            @Html.Hidden("Id", Model.Id)
            
            @await Html.PartialAsync("Customers/_CompanyInfo", Model)

            @await Html.PartialAsync("Customers/_GlobalInfo", Model)

            <div class="form-group">
                <div class="col-sm-12 btn-submit">
                    <button type="submit" class="btn btn-success">
                        <i class="fas fa-save"></i> Save
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts{

    @{
        <partial name="_ValidationScriptsPartial"/>
    }

}