@using MyApp.Application.Models.Requests.Customers.Companies
@model CompanyEditReq

@{
    ViewData["Title"] = "Edit Company";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h1>Edit Company</h1>
    @Html.ValidationSummary()
    <form asp-action="Edit" asp-controller="Company" method="post" enctype="application/x-www-form-urlencoded">

        <div class="update-customer-div">

            @Html.Hidden("Id", Model.Id)
            @Html.Hidden("BillingId", Model.BillingId)
            @Html.Hidden("ShippinId", Model.ShippinId)

            @await Html.PartialAsync("Customers/_CompanyInfo", Model)

            @await Html.PartialAsync("Customers/_GlobalInfo", Model)
            
            @await Html.PartialAsync("Payments/_PaymentList", Model)
            
            @await Html.PartialAsync("Customers/Edit/_DetailsReadOnlyForm", Model)
            
            @await Html.PartialAsync("Customers/Edit/_FromFooter", Model.Controller)

            
        </div>
    </form>
</div>

@section Scripts{

    @{
        <partial name="_ValidationScriptsPartial"/>
    }

}